[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
pillow = "*"
django-rest-auth = {extras = ["with-social"],version = "*"}
pusher = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"
pyuploadcare = "*"
cloudinary = "*"

[requires]
python_version = "3.8"
